@font-face {
    font-family: "Forte";
    src: url("assets/fonts/FORTE.TTF") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.TTF") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body,html {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #F6F5F1;
}

.conteiner {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 254px;
    height: 78px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-icon {
    width: 45px;
    height: 30px;
    margin-right: 5px;
}

.header-logo-text {
    font-family: 'Forte';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #374B5C;
}

.header-button {
    width: 141px;
    height: 46px;
    background-color: #FF9100;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

/* HEADER END */

/* MAIN SECTION HEAD */

.main-head {
    padding-top: 94px;
    padding-left: 126px;
    display: flex;
    justify-content: space-between;
}

.main-head-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-head-title-h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #374B5C;
    margin: 0;
}

.main-head-title-h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #374B5C;
    margin: 0;
}

.main-head-p {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #374B5C;
    margin: 13px 0 0 0;
}

.main-head-button {
    width: 220px;
    height: 54px;
    background-color: #FF9100;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-top: 38px;
}

.main-head-img-back {
    width: 393px;
    height: 393px;
}

/* MAIN SECTION HEAD END*/

/* MAIN SECTION BODY */

.main-body {
    margin-top: 129px;
}

.main-body-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-body-title-logo-icon {
    width: 83px;
    height: 55px;
}

.main-body-title-h2 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 48px;
    color: #374B5C;
    margin: 0;
    padding: 18px 0;
}

.main-body-title-p {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #374B5C;
    margin: 0;
    padding: 0;
    max-width: 820px;
}

/* MAIN SECTION BODY END*/
